@{
    ViewBag.Title = "Sobre Nosotros";
}
<h2>@ViewBag.Title.</h2>


<p>PConocenos más!!</p><br><br><br>

<div style="float: left; width: 10%; height: 30%">
    <img src=\Imagenes\pablo.jpg width="300" height="400">
</div>

<div style="float: right; width: 45%">
    <h2>Pablo Vera </h2>
    <p>Pablo es el encargado de hacer el analisis, es super fan de los pokemones y de ver animes!
    Tiene 22 años, se encuentra en el 8vo semestre de la carrera de Ing en Infromatica con enfasis en sistemas informáticos</p>
</div>
    <div style="clear: both"></div><br><br><br><br><br>




    <div style="float: left; width: 10%; height: 30%">
        <img src=\Imagenes\Jazmin.jpg width="300" height="400">
    </div>

    <div style="float: right; width: 45%">
    <h2>Jazmin Ojeda </h2>
    <p>Jazmin es especialista en ver series ademas de especialista en crear contenidos, en ese orden!.
        Esta en el 8vo semestre de la carrera de Ing. en Informática :)</p>
</div>
        <div style="clear: both"></div><br><br><br><br><br>





<div style="float: left; width: 10%; height: 30%">
    <img src=\Imagenes\Ricardo.jpeg width="300" height="400">
</div>

<div style="float: right; width: 45%">
    <h2>Ricardo Mareco </h2>
    <p>Ricardo es el encargado de distribuir las tareas y controlar que estas se realicen, es la mamá de los proyectos!
    tiene 21 años es de San Antonio y esta en el 4to año de la carrera de Ing en Informática</p>
</div>
<div style="clear: both"></div><br><br><br><br><br>






<div style="float: left; width: 10%; height: 30%">
    <img src=\Imagenes\Marcos.jpeg width="300" height="400">
</div>

<div style="float: right; width: 45%">
    <h2>Marcos Aquino </h2>
    <p>Marcos tiene 21, es de Asuncion esta en el 4to año de la carrera de Ing. en Infromatica. </p>
</div>
<div style="clear: both"></div><br><br><br><br><br>







<div style="float: left; width: 10%; height: 30%">
    <img src=~/Imagenes/Sebastian.jpeg width="300" height="400">
</div>

<div style="float: right; width: 45%">
    <h2>Sebastian Pratt </h2>
    <p>Sebastian tiene 21, es de Asuncion esta en el 4to año de la carrera de Ing. en Infromatica. </p>
</div>
<div style="clear: both"></div><br><br><br><br><br>








