@{
    ViewBag.Title = "Biblioteca Comunitaria";
}

<div class="jumbotron">
  
    <h1>Biblioteca Comunitaria</h1>
    <p class="lead">La biblioteca comunitaria tiene como fin llegar a todos los habitantes del pais basada en los principios de inclusión, gratuidad, libre acceso a la información, creatividad, innovación y la participación ciudadana activa. La biblioteca comunitaria no solo ofrece el servicio de libros de consulta sino que también promueve liderazgo y oportunidades para todos los habitantes a través de recursos y procesos innovadores que despiertan un espíritu de descubrimiento en niñas y niños, jóvenes y adultos.</p>
    <p><a href="http://www.sicpy.gov.py/generales/?1510" class="btn btn-primary btn-lg">Leer más &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Beneficiarios</h2>
        <p>
            Conoce a las personas que se benefician de este proyecto, quieren compartir contigo como esta bibloteca los ayudo y aprende como ser parte de los colaboradores de esta biblioteca.
        </p>
        <p><a class="btn btn-default" href="https://www.ilo.org/ipec/Campaignandadvocacy/Youthinaction/WCMS_113866/lang--es/index.htm">Leer más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Alcance</h2>
        <p>La biblioteca recibe anualamente a cerca de 30 mil personas. Cada año ingresan a la biblioteca más de 3.000 nuevas personas. Más del 60% de las personas que ingresan a esta biblioteca tienen menos de 30 años de edad. </p>
        <p><a class="btn btn-default" href="https://www.una.py/educacion/biblioteca/">Leer más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Como Donar</h2>
        <p> Los libros donados pueden ser de cualquier género (literatura,de cuentos, ciencias, matemáticas) nuevos o usados.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=30https://rcc.com.py/nacionales/te-sobra-un-libro-puedes-donarlo/">Leer más &raquo;</a></p>
    </div>
</div>